<%= partial(:'books/nav_bar', :template_engine => :erb) %>

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-4">
      STUFF
    </div>

    <div class="col-sm-4">
      <% @books.each do |book| %>
        <% if (book.done_reading == true) && (book.user_id == current_user.id) %>
          <h3><%= book.title %><small> (by: <%= book.author %>)</small></h3>
          <p>Genre: <%= book.genre %></p>
          <p>Comments: <%= book.comment %> </p>

          <form method="post" action="/books/remove">
            <input type="hidden" name="book_id" value="<%= book.id %>">
            <button type="submit" class="btn btn-default">remove from book list</button>
          </form>

          <form action="/books/comment" method="POST">
            <div class="form-group">
              <label>Comment:</label>
              <input type="text" name="comment">

              <input type="hidden" name="book_id" value="<%= book.id %>" />
              <button type="submit" class="btn btn-default">Add Comment</button>
            </div>
          </form>

        <% end %>
      <% end %>
    </div>

  </div>
</div>
