<%= partial(:'books/_nav_bar', :template_engine => :erb) %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
    <!-- image here -->
    STUFF
    </div>

    <div class="col-sm-4">

      <h2> Books I want to read </h2>
      <br/>
      <div class="button">
         <a href="/books/new" class="btn btn-default" role="button">Add a book to read.</a>
      </div>
   
      <% @books.each do |book| %>
        <% if (book.done_reading == false) && (book.user_id == current_user.id) %>
          <h3><%= book.title %><small> (by: <%= book.author %>)</small></h3>
        	<p>
        		Genre: <%= book.genre %>
        	</p>

          <img src="/uploads/<%= book.photo %>"/>

      		<form method="post" action="/books/remove">
      			<input type="hidden" name="book_id" value="<%= book.id %>">
      		  <button type="submit" class="btn btn-default">remove from book list</button>
      		</form>
      		<form method="post" action="/books/done">
            <input type="hidden" name="book_id" value="<%= book.id %>">
      			<button type="submit" class="btn btn-default">add to done reading</button>
      		</form>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
