<div class="nav">
  	<div class="pull-right">
      <div class="button">
        <a href="/books/done_reading" class="btn btn-default" role="button">Done reading list.</a>
  			<a href="/logout" class="btn btn-default" role="button">Logout</a>
  		</div>
  	</div>
  	<div class="pull left">
  		<h1>Bookworm</h1>
		</div>
</div>

<br/>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
    <!-- image here -->
    STUFF
    </div>

    <div class="col-sm-4">

      <h2> Books I want to read </h2>
      <br/>
      <div class="button">
         <a href="/books/new" class="btn btn-default" role="button">Add a book to read.</a>
      </div>
   
      <% @books.each do |book| %>
        <% if book.done_reading == false %>
          <h3><%= book.title %><small>(by: <%= book.author %>)</small></h3>
        	<p>
        		<%= book.genre %>
        	</p>
      		<form method="post" action="/books/remove">
      			<input type="hidden" name="book_id" value="<%= book.id %>">
      		  <button type="submit" class="btn btn-default">remove from book list</button>
      		</form>
      		<form method="post" action="/books/done">
            <input type="hidden" name="book_id" value="<%= book.id %>">
      			<button type="submit" class="btn btn-default">add to done reading</button>
      		</form>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
